In [1]:
print 'Hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('Hello world')? (<ipython-input-1-5b561bd9caa8>, line 1)

In [2]:
print ('Hello world')

Hello world

In [2]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [3]:
myfile = open('myfile.txt')

In [4]:
myfile = open('xd.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'xd.txt'

In [5]:
pwd

'/home/danny/Python'

In [6]:
myfile = open('myfile.txt')

In [7]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [8]:
myfile.read()

''

In [9]:
myfile.seek(0)

0

In [10]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [11]:
myfile.seek(0)

0

In [12]:
contents = myfile.read()

In [13]:
myfile.read()

''

In [14]:
myfile.seek(0)

0

In [15]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [16]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [17]:
pwd

'/home/danny/Python'

In [22]:
myfile = open("/home/danny/Python/myfile.txt")

In [23]:
myfile.close()

In [24]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [28]:
with open('myfile.txt',mode ='r') as myfile:
    contents = myfile.read()

In [26]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [34]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [35]:
with open('my_new_file.txt',mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [37]:
with open('my_new_file.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [38]:
with open('my_new_file.txt',mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [39]:
with open('asdf.txt',mode='w') as f:
    f.write('I CREATED THIS SHIT')

In [40]:
with open('asdf.txt',mode ='r') as f:
    print(f.read())

I CREATED THIS SHIT

In [5]:
hungry = False
if hungry:
    print ('ITS TRUE')
else: 
    print ('IM NOT HUNGRY')

IM NOT HUNGRY

In [9]:
loc = 'bank'

if loc == 'autoshop':
    print('Cars are cool')
elif loc == 'bank':
    print('money is cool')

else:
    print('idk')

money is cool

In [10]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [11]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [13]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd NUmber: {num}')

Odd NUmber: 1
2
Odd NUmber: 3
4
Odd NUmber: 5
6
Odd NUmber: 7
8
Odd NUmber: 9
10

In [15]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [16]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [17]:
tup = (1,2,3,)

for item in tup:
    print(item)

1
2
3

In [18]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [19]:
len(mylist)

4

In [20]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [21]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [22]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [23]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [27]:
for a,b,c in mylist:
    print(a,b)

1 2
5 6
8 9

In [31]:
d = {'k1':1, 'k2':2, 'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [36]:
x = 0 

while x < 5:
    print(f'The current value of x is {x}')
    x +=1
    
else: 
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [38]:
x = [1,2,3]

for item in x :
    pass

print ('end of script poggers')

end of script poggers

In [41]:
mystring = 'Sammy'
for letter in mystring: 
    if letter == 'a':
        break
    print(letter)

S

In [42]:
x = 0 

while x < 5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

In [47]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [48]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [53]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print (letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [56]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [59]:
for item1,item2 in zip(mylist1,mylist2):
    print(item1)
    print(item2)

1
a
2
b
3
c

In [60]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [61]:
'x' in [1,2,3]

False

In [62]:
'x' in ['x','y','z']

True

In [63]:
'mykey' in {'mykey':354}

True

In [67]:
d = {'mykey':354}
354 in d.values()

True

In [69]:
mylist = [10,20,30,40,100]

In [70]:
min(mylist)

10

In [71]:
max(mylist)

100

In [72]:
from random import shuffle

In [73]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [74]:
shuffle(mylist)

In [75]:
mylist

[7, 1, 6, 8, 5, 2, 10, 4, 3, 9]

In [76]:
from random import randint

In [77]:
randint(0,100)

86

In [78]:
randint(0,10)

7

In [79]:
mynum = randint(0,10)
mynum

6

In [84]:
result = input('Enter a number: ')

Enter a number: 30

In [82]:
result

'69'

In [85]:
float(result)

30.0

In [86]:
int(result)

30

In [87]:
mystring = 'hello'

In [88]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [89]:
mylist

['h', 'e', 'l', 'l', 'o']

In [90]:
mylist = [letter for letter in mystring]

In [91]:
mylist

['h', 'e', 'l', 'l', 'o']

In [92]:
asdf = [x for x in 'word']

In [93]:
asdf

['w', 'o', 'r', 'd']

In [97]:
mylist =[num**2 for num in range(0,11)]

In [101]:
mylist = [x**2 for x in range(0,11) if x%2 ==0]

In [102]:
mylist

[0, 4, 16, 36, 64, 100]

In [108]:
celcius = [0,10,20,34.5]

fahrenheit = [ ((9/5)*temp + 32) for temp in celcius]

In [109]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [110]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [111]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [112]:
results = [x if x%2==0 else 'odd' for x in range(0,11)]

In [113]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [114]:
mylist = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [115]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [116]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [117]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]